body {
    width: 700px;
    margin: 0 auto;
}

main {
    margin: 15px;
}

header {
    margin: 15px;
}

header h1 {
    position: relative;
    display: inline-block;
    color: #0A3871;
}

header img {
    position: relative;
    display: inline-block;
    width: 15px;
    padding-right: 20px;
}

.input-botones {
    display: inline-block;
    vertical-align: top;
}

.textarea-copia {
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

input {
    border-radius: 5px;
    border: 1px solid #a60bee;
    background-color: #fff;
    color: #3d08a0;
    font-size: 14px;
    padding: 5px 10px;
    margin: 5px;
}

input:focus {
    border-color: #6c9ef8;
    outline: none; /* Para quitar el contorno predeterminado del foco en algunos navegadores */
    box-shadow: 0 0 5px #6c9ef8;/* Para agregar un efecto de sombra al estar seleccionado */
}

/* TEXTAREA */
textarea {
    resize: none;
    border-radius: 5px;
    border: 1px solid #0c71ac;
    background-color: #fff;
    color: #3d08a0;
    font-size: 14px;
    padding: 5px 10px;
    margin: 5px;
}

textarea:focus {
    border-color: #2d0bec;
    outline: none;
    box-shadow: 0 0 5px #6c9ef8;
}

/*BOTONES  */

#btn-encriptar {
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;/* Cambia el cursor a un puntero al pasar el ratón */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);/* Agrega efecto de sombra */
    transition: background-color 0.3s ease;/* Transiciones para suavizar las animaciones */
}

#btn-encriptar:hover {
    background-color: #0056b3;
}

#btn-encriptar:active {
    background-color: #00396c;
}


#btn-desencriptar {
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    /* Agrega efecto de sombra */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Transiciones para suavizar las animaciones */
    transition: background-color 0.3s ease;
}

#btn-desencriptar:hover {
    background-color: #0056b3;
}

#btn-desencriptar:active {
    background-color: #00396c;
}

footer {
    font-size: 13px;
    font-family: Georgia, serif;
    position: absolute;
    bottom: 0; /* Fija el elemento al fondo de la página */
    left: 0;
    right: 0;
    padding: 10px;
}